<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="19936robertiagar.Roberts500pxManager" Publisher="CN=6CCB9305-D571-4AAD-8ADF-FAA43EC84A0F" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="c6bd6a1a-617c-4cee-905b-0cc0ede9fd4a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Robert's 500px Manager</DisplayName>
    <PublisherDisplayName>Robert Iagar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="_500pxManager.App">
      <m3:VisualElements DisplayName="Robert's 500px Manager" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="500pxManager" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
            </SupportedFileTypes>
            <DataFormat>Bitmap</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="picturesLibrary" />
  </Capabilities>
</Package>